.tagwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px blue;
  .tagcloud {
    border: solid 1px green;
    color: $primary-color;
    &:last-child {
      display: none;
    }
    .tagcloud--item {
      opacity: 1 !important;
    }
  }
}
