$primary-color: #90c3ee;
$background-color: #262626;
$text-color: #ffffff;

$navbar-background-color: #464646;
$navbar-text-color: #ffffff;
$navbar-hover-color: #313131;

$white: #ffffff;
$black: #000000;

$breakpoints: (
  phone-xs: 320px,
  phone-sm: 360px,
  phone: 375px,
  phone-lg: 414px,
  tablet: 768px,
  desktop: 1024px
);

@function bp($key) {
  @return map-get($breakpoints, $key);
}

@mixin max($key) {
  $value: bp($key);
  @if $value {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "No breakpoint `#{$key}` found.";
  }
}
