@import './style/reset.scss';
@import './style/vars.scss';
@import './style/components/NavBar.scss';
@import './style/components/Layout.scss';
@import './style/components/NavItem.scss';
@import './style/components/Logo.scss';
@import './style/components/TagCloud.scss';

#root {
  font-family: 'Inter', sans-serif;
  color: $text-color;
  background-color: $background-color;
  min-height: 100vh;
  .app {
    display: block;
    position: relative;
  }
}
